footer {
    background-color: #464547;
}

footer .container {
    padding: 56px 75px 75px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {  

    footer .container {
        padding: 37px 20px;
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
    } 
}

.footer_logo {
    display: flex;
    align-items: flex-start;
}

.footer_logo img {
    display: inline-block;
    margin-right: 16px;
}

.footer_icon {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.footer_logo span {
    display: inline-block;
    margin-right: 16px;
}

.address {
    font-size: 16px;
    grid-column: 3 / 4;
    margin-top: 30px;
    text-align: center;
}


.address, .mail, .copy {
    color: rgba(255, 255, 255, .4);
    font-weight: 400;
    line-height: 19px;
}

.mail {
    display: block;
    margin-top: 18px;
}

.copy_box {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-column: 6 / 8;
    margin-top: 19px;
}

@media (min-width: 768px) {  
    
    .address {
        margin-top: 0;
    }
    
    .mail {
        margin-top: 27px;
    }

    .copy_box {
        margin-top: 0;
    }
}
