.section_second {
    background-color: #EEEEEE;
}

.section_second .container {
    display: flex;
    flex-direction: column;
    padding: 65px 10px 95px 27px;
    text-align: left;
}

.section_third .container {
    padding: 80px 40px;
    text-align: center;
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
    .section .container {
        padding: 87px 120px 95px 95px;
        text-align: center;
    }

    .section_second .container {
        align-items: center;
        padding: 65px 20px 95px 20px;

    }

    .section_third {
        height: 100vh;
    }
}

.section_second h1 {
    color: #464547;
    text-align: left;
    text-transform: none;
}

.section_second h2 {
    color: #666666;
}

.section_second h1 > span {
    display: block;
}

.section_second .heading_box h2 {
    text-align: left;
    margin-top: 40px;
}

.section_third h2 {
    color: #fff;   
}

.section_third h2 span {
    display: block;    
}


/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
    .section_second h1 {
        text-align: center;
        max-width: 670px;
    }
    
    .section_second h1 > span {
        display: inline;
    } 
    
    .section_second .heading_box h2 {
        text-align: center;
        margin-top: 60px;
    }
    
    .section_third .heading_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section_third h2 {
        width: 350px;  
        text-align: center;  
    } 
    .section_third h2 span {
        display: inline;    
    }         
}

.text_box {
    display: block;
}

@media (min-width: 768px) {  
    .text_box {
        display: flex;
        justify-content: space-between;
    }          
}

.text_box p {
    flex: 0 1 46%;
}

.section_third {
    background-image: linear-gradient(
            rgba(140, 79, 42, 0.3),
            rgba(140, 79, 42, 0.3)), url('../assets/learn_more.jpg');
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(140, 79, 42, 0.3);
}

@media (min-width: 768px) {  
              
}

.play_btn {
    margin-top: 85px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 52px;
    padding: 20px 35px;
}

@media (min-width: 768px) {  
    .play_btn {
        margin-top: 53px;
        width: 150px;
        height: 150px;
        font-size: 72px;
        padding: 35px 50px;
    }          
}
